* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #111111;
  line-height: 32px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8fafa;
}

.container__outer {
  -webkit-box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
  /* padding-bottom: 50px; */
}

.container__inner-top {
  max-width: 1264px;
  margin: 0 auto;
}
.container__inner {
  max-width: 1465px;
  margin: 0 auto;
  /* padding: 20px; */
}

.top {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-height: 650px;
}

.header__top {
  width: 96%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 50px;
}

.header__logo-img--mob {
  display: none;
}

.header__lang-img--mob {
  display: none;
}

.header__content {
  width: 96%;
  margin: 0 auto;
}

.header__content-mob {
  display: none;
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
}

.header__content-mob-img {
  width: 100%;
}

.main__buttons {
  margin-bottom: 80px;
  margin-top: auto;
  text-align: center;
}

.middle__buttons {
  padding-bottom: 100px;
  margin-top: auto;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #ffdc5d;
  border-radius: 28px;
  border: none;
  font-size: 26px;
  line-height: 32px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  outline: none;
  min-width: 342px;
  padding: 15px 50px;
  text-decoration: none;
  color: #000;
}

.btn:hover {
  box-shadow: 0 13px 20px 0 rgba(193, 115, 3, 0.6);
}

.btn + .btn {
  margin-left: 125px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__lang {
  margin-right: 3%;
}

.header__title-top {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.833333px;
  color: #fbca37;
}

.header__title-middle {
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1.16667px;
  color: #111111;
  margin-bottom: 30px;
}

.middle__title {
  text-align: center;
  margin-bottom: 140px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.middle__icon {
  min-width: 140px;
  margin-right: 40px;
}

.middle__items {
  width: 46%;
  /* move block to right */
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom__items {
  width: 46%;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.middle__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.middle__icon-img {
  width: 100%;
  height: auto;
}

.middle {
  /* height: 100vh; */
  background-image: url(../images/middle_bg.jpg);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f9f8;
  /* -webkit-box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15);
    box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15); */
}

.bottom {
  /* height: 100vh; */
  background-image: url(../images/bottom_bg.jpg);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f9f8;
  /* -webkit-box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15);
    box-shadow: inset 0 -10px 22px -10px rgba(0,0,0,0.15); */
}

.bottom__items {
  margin-left: 30px;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}

.footer__link:hover {
  text-decoration: underline;
}

.application {
    -webkit-box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -10px 22px -10px rgba(0, 0, 0, 0.15);
}

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  
}

.application__inner {
  height: 100vh;
  background-image: url(../images/bgc_1.png);
  background-repeat: no-repeat;
  background-position: 10% 170px;
  background-size: 50% auto;
}

.application__inner-top {
  padding-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
}
h2 {
  font-size: 40px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 32px;
  margin-top: 0;
}

h2.with-back::after {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -112px;
  width: 224px;
  height: 4px;
  background: #ffdc5d;
  content: "";
}

h2.with-back span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.04);
  font: 90px/32px "Montserrat";
  font-weight: 800;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.application__inner-title {
  margin-top: 100px;
}

.application__inner-content {
  max-width: 50%;
  margin-left: auto;
  margin-top: 50px;
}

.application__inner-content-title {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 38px;
  max-width: 520px;
}

.application__inner-description {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  margin-top: 40px;
}

.application__inner-items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 60px;
}

.application__inner-item {
  width: 50%;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 25px;
  list-style: none;
  position: relative;
  padding-left: 45px;
}

.application__inner-item::before {
  content: "";
  position: absolute;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 37px;
  height: 31px;
  top: 0;
  left: 0;
}

@media (max-width: 1440px) {
  .middle__title {
    margin-bottom: 70px;
  }

  .middle__btn {
    min-width: 290px;
  }

  .middle__items {
    margin-bottom: 50px;
  }

  .bottom__items {
    margin-bottom: 50px;
  }

  .middle__icon {
    min-width: 110px;
  }

  .middle__buttons {
    padding-bottom: 50px;
  }

  .btn {
    min-width: 295px;
  }
}

@media (max-width: 1380px) {
  .application__inner {
    background-position: 10% 284px;
  }

  .application__inner-item {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .application__inner {
    background-position: 10% 320px;
  }
}

@media (max-width: 970px) {
  body {
    font-size: 22px;
  }

  .header__title-top {
    font-size: 26px;
    line-height: 36px;
  }

  .header__title-middle {
    font-size: 38px;
  }

  .btn {
    font-size: 24px;
  }

  .middle__items {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url(none);
  }
  .header__content {
    max-width: 96%;
    margin: 0 auto;
  }
  .header__content-mob {
    display: block;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    min-width: 250px;
    padding: 10px 20px;
  }

  .btn + .btn {
    margin-left: 70px;
  }
  .middle {
    background-image: url(none);
    position: relative;
  }

  .middle__buttons {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding-bottom: 50px;
  }

  .middle__items {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 0;
  }

  .middle__item {
    margin-bottom: 20px;
  }

  .middle__item:last-child {
    margin-bottom: 0;
  }

  .middle__icon {
    min-width: 100px;
  }

  .bottom {
    background-image: url(none);
    position: relative;
  }
}

@media (max-width: 480px) {
  .top {
    height: 70vh;
    min-height: 600px;
  }

  .header__top {
    width: 85%;
    margin-bottom: 25px;
  }

  .header__content {
    max-width: 85%;
    margin: 0 auto;
  }

  .header__logo-img {
    display: none;
  }

  .header__logo-img--mob {
    display: block;
  }

  .header__lang-img {
    display: none;
  }

  .header__lang-img--mob {
    display: block;
  }

  .header__title-top {
    font-size: 16px;
    line-height: 24px;
  }

  .header__title-middle {
    font-size: 23px;
    line-height: 24px;
  }

  .header__title-descritpion {
    font-size: 14px;
    line-height: 25px;
  }

  .header__title-middle {
    margin-bottom: 12px;
  }

  .btn {
    font-size: 14px;
    line-height: 25px;
    min-width: 150px;
    padding: 3px 10px;
  }

  .btn + .btn {
    margin-left: 20px;
  }

  .middle__title {
    font-size: 12px;
    line-height: 16px;
    padding-top: 20px;
    margin-bottom: 35px;
  }

  .middle__icon {
    min-width: 52px;
    margin-right: 15px;
  }

  .middle__item-description {
    font-size: 12px;
    line-height: 16px;
  }

  .middle__buttons {
    padding-bottom: 30px;
  }

  .footer__link {
    font-size: 8px;
    line-height: 16px;
  }

  .footer__content {
    padding: 25px 20px;
  }

  .bottom__items {
    margin-left: 0;
  }
}
